<div fxLayout="row" class="layout-header">
    <div class="openside" fxFlex="3" (click)="openSideNav()">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <app-header fxLayout="column" fxFlex></app-header>

</div>
<div fxLayout="row" fxFlex>
    <div *ngIf="isSideNavOpen" [fxFlex]="isSideNavOpen ? '17' : ''" class="sideNav">
        <app-sidenav fxFlex></app-sidenav>
    </div>

    <div class="content" [fxFlex]="isSideNavOpen ? '83' : ''">
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </div>

</div>