// $primary: linear-gradient(to bottom, #01b7ff, #1289e4);

// $font-color: #fff;
// $font-hover: tomato;

$primary: #fff;

$font-color: black;
$font-hover: #ffb300;
$header-menu-bg: white;
$header-menu-color: black;
$footer-bg: #202225;
$footer-color: #bbb;
$footer-links-hover: #ffb300;
$footer-bg-copyrights: #181a1c;

$signin-bg: #ff6d33;
$signup-bg: #ffb531;
// $signin-bg: #ffb300;
// $signup-bg: #d8b800;

// sign-in
// $signin-bg: #ff4b2b;
// $signup-bg: #ff416c;
