<section class="contact-landing-page">
    <div class="contact-landing-page-background">
        <label class="contact-banner-text">Customer Success & Support Portal</label>
        <p> Our dedicated Customer Success Team works round the clock to delight our global customer base and ensure
            each customer’s journey from onboarding to live dashboards is seamless.</p>
    </div>
</section>
<div class="contact-heading first">
    <h2 class="contact-heading-h2">Stuck? Get help from our LEAP Team. <span>(sales@lera.us)</span></h2>

</div>
<!-- <section id="contact-cards">
    <div class="row contact-cards">
        <div class="col-md-5">
            <h2 class="contact-card-h2">Support for LEAP</h2>
            <div>
                <button class="contact-button">Submit Ticket</button>
                <button class="contact-button">View Ticket</button>
            </div>
        </div>
        <div class="col-md-5">
            <h2 class="contact-card-h2">Support for LEAP <br>for Cloud Data Teams</h2>
            <p>(Previously Periscope Data)</p>
            <div>
                <button class="contact-button color-change">Submit Ticket</button>
                <button class="contact-button color-change">View Ticket</button>
            </div>
        </div>
    </div>
</section> -->



<section id="contact-cards">
    <div class="row contact-cards">
        <div class="col-md-3 second">
            <h2 class="contact-card-h2">Address</h2>
            <label>6th Floor, Lera Celitas, Bizness Square, Whitefields, HITEC City, Hyderabad, 500081</label>

        </div>
        <div class="col-md-7 second">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23086.95952031082!2d78.36440147571435!3d17.455129628815236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93da776e3347%3A0xd43f52aa73cb4014!2sBizness%20Square!5e0!3m2!1sen!2sin!4v1614171503097!5m2!1sen!2sin"
                width="100%" height="450px" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
        </div>
    </div>
</section>
<!-- 
<section id="contact-cards">
    <div class="row contact-cards">
        <div class="col-md-5 second">
            <h2 class="contact-card-h2">Get the most <br> up-to-date release</h2>
            <div>
                <button class="contact-button">Update LEAP</button>
            </div>
        </div>
        <div class="col-md-5 second">
            <h2 class="contact-card-h2">Customer Success <br> & Support Resources</h2>

            <div>

                <button class="contact-button color-change">Read More</button>
            </div>
        </div>
    </div>
</section> -->
<!-- <div class="contact-heading">
    <p class="contact-heading-p">Our goal is to enable customers to maximize their value from LEAP and achieve strong, ongoing ROI. Each customer has a designated <br> CSM and Engagement Manager, as well as direct access to tech support, professional services and more. Browse the
        portal to find <br> resources, videos, and answers to any LEAP-related question.</p>
</div>




<div class="contact-heading">
    <h2 class="contact-heading-h2">Learn</h2>
    <p>Read, watch, and make the most out of LEAP</p>

    <div class="row contact-row-card-third">
        <div class="card contact-row-card-third" *ngFor="let card of cards" style="width: 25rem;">
            <div class="card-body">
                <img src="{{card.imgSrc}}" alt="Documentation-Icon">
                <h5 class="card-title">{{card.title}}</h5>

                <p class="card-text">{{card.text}}</p>
                <a href="#" class="card-link">{{card.link}}</a>
            </div>
        </div>
    </div>
</div>

<div class="contact-heading">
    <h2 class="contact-heading-h2">Discuss</h2>
    <p>Dive into the LEAP community.</p>
    <div class="row contact-row-card-third">
        <div class="card contact-row-card-third" style="width: 25rem;">
            <div class="card-body">
                <img src="../../../assets/images/contact-card-icon.png" alt="Documentation-Icon">
                <h5 class="card-title">Community</h5>
                <p class="card-text">FAQ’s, how-tos, guides – everything you need to get started.</p>
                <a href="#" class="card-link">Explore</a>
            </div>
        </div>
        <div class="card contact-row-card-third" style="width: 25rem;">
            <div class="card-body">
                <img src="../../../assets/images/contact-card-icon.png" alt="Documentation-Icon">
                <h5 class="card-title">Developers</h5>

                <p class="card-text">FAQ’s, how-tos, guides – everything you need to get started.</p>
                <a href="#" class="card-link">Visit</a>
            </div>
        </div>
    </div>
</div>
<div class="contact-heading">
    <h2 class="contact-heading-h2">Engage</h2>
    <p>Get up close and personal with LEAP.</p>
    <div class="row contact-row-card-third">
        <div class="card contact-row-card-third" style="width: 25rem;margin-bottom: 100px;">
            <div class="card-body">
                <img src="../../../assets/images/contact-card-icon.png" alt="Documentation-Icon">
                <h5 class="card-title">LEAP Academy</h5>
                <a href="#" class="card-link">Learn More</a>
            </div>
        </div>
    </div>
</div> -->