@use '../../sass/variables' as v;

.site-footer {
    padding: 45px 0 0px;
    font-size: 15px;
    line-height: 24px;
    color: v.$footer-color;
    background: v.$footer-bg;
    // font-family: Poppins;
}
.site-footer hr {
    border-top-color: v.$header-menu-bg;
    opacity: 0.5;
}
.site-footer hr.small {
    margin: 20px 0;
}
.site-footer h6 {
    color: v.$footer-links-hover;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
    text-decoration: underline;
}
.site-footer a {
    color: v.$footer-color;
}
.site-footer a:hover {
    color: v.$footer-links-hover;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: v.$footer-color;
    transition: 0.5s;
    cursor: pointer;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: v.$footer-links-hover;
    text-decoration: none;
    margin-left: 5px;
}
.footer-links.inline li {
    display: inline-block;
}
.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: v.$header-menu-bg;
}
.copyright-text {
    margin: 0;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.copyright-text .lera {
    color: v.$footer-links-hover;
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons a {
    background-color: #eceeef;
    color: v.$footer-links-hover;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    cursor: pointer;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: v.$header-menu-bg;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.twitter:hover {
    background-color: #00aced;
}
.social-icons a.linkedin:hover {
    background-color: #007bb6;
}
.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}
.bg-custome {
    border-top: 1px solid rgba($color: #5b5e61, $alpha: 0.7);
    background: v.$footer-bg-copyrights;
    padding: 20px 5px 5px;
}

@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}
