<section class="courousal">
    <div id="carouselExampleCaptions" class="carousel slide custome-carousel" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="100">
                <img src="../../assets/sample/1.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/sample/2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Second slide label</h5>
                    <p>Some representative placeholder content for the second slide.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/sample/3.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>Some representative placeholder content for the third slide.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>

        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>

        </button>
    </div>
</section>

<section id="home-video">

    <div class="row leap-video">

        <div class="col-sm-6  mb-3 video">
            <video src="../../../assets/dashboard/demo_vedio.mp4" autoplay preload="auto" controls></video>
        </div>
        <div class="col-sm-6  mb-3 video-content">
            <div class="video-text">
                <h1>What is LEAP?</h1>
                <p class="video-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto numquam
                    voluptatibus velit, repellat
                    adipisci magnam. Veritatis fugit, culpa voluptate, optio sint reprehenderit beatae alias a quam
                    voluptatum amet expedita numquam!
                </p>
                <p class="video-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto numquam
                    voluptatibus velit, repellat

                </p>

            </div>
            <div class="video-buttons ">
                <!-- <button class="btn btn-custom"> Read More</button>
                <button class="btn btn-custom-outline">view more</button> -->
                <a class="video-para">Explore More About LEAP <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </div>
</section>

<!----------------Solution 4---------------------->
<section class="product-section">


    <div class="product-heading">
        <h2 class="product-heading-text">SOLUTIONS</h2>
    </div>


    <div class="row mt-2 product-row">
        <!-- <div class="produts" *ngFor="let solution of solutionsData | paginate: { id: 'foo',
        itemsPerPage: itemsPerPage,
        currentPage: currentPage,
        totalItems: totalItems}"> -->
        <div class="produts" *ngFor="let solution of solutionsData">
            <div class="card   product-card3">
                <img class="card-img-top" src="../../assets/dashboard/{{solution.img_name}}" alt="Card image cap">
                <div class="card-body info">
                    <h2 class="product-h2">{{solution.solution_title}}</h2>
                    <p class="product-para">{{solution.solution_text}}</p>
                    <a href="#" class="btn btn-custom">View Demo</a>
                    <a href="#" class="btn btn-custom">Read More</a>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="pagination">
        <pagination-controls class="my-pagination" id="foo" directionLinks="true" (pageChange)="currentPage = $event">
        </pagination-controls>
    </div> -->
</section>